style.css
h1{font-size: 24pt;}
h1{color: darkred; text-align:center;}
p{text-align: justify;font-size: 18pt; font-family:cursive; color:black;}
body{
    pointer-events: auto !important;
    background-size: 98% !important;
    opacity: 0.90 !important;
    background-position: 0 0 !important;
    background-image: url('Plano\ de\ Fundo.jpg');
    content: '';
    position: absolute;
    z-index: 999;
    width: 98%;
    background-repeat:repeat;
    }
    div{text-align:center; font-size: 9pt; color:black;}